@import './partials/reset.scss';
@import './partials/variables.scss';

// REGOLE GENERALI
// Tag
a {
    text-decoration: none;
    color: $light-color;
}


// Classi
.bg-color {
    background-color: $dark-color;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.justify-content-btw {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

.overflow {
    overflow-x: auto;
    overflow-y: hidden;
}

.not-list-style {
    list-style: none;
}

.p {
    padding: 1rem;
}

.p-li {
    padding:  0.5rem 0;
}

.not-visible {
    display: none;
}


